{% extends 'master/base.html' %}


{% block head %}
<title>Product List</title>

<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
{% endblock head %}
    


{% block body %}

<h1>Order List</h1>   

{% if request.user.role == 'Seller' %}
    <a href="{% url 'product_add' %}" class="btn btn-primary">Add</a>
{% endif %}
    


<table>
  <tr>
    <th>customer</th>
    <th>product</th>
    
    <th>total_price</th>
    <th>quantity</th>
    <th>order_status</th>
    <th>order_at</th>
    
    
    {% if request.user.role == 'Seller' %}
        <th>action</th>
    {% endif %}
        
    

  </tr>

  
  {% for pc in Orders %}

  <tr>
    <td>{{pc.customer.username}}</td>
    <td>{{pc.product.product_name}}</td>
    <td>{{pc.total_price}}</td>
    <td>{{pc.quantity}}</td>
    <td>{{pc.order_status}}</td>
    <td>{{pc.created_at}}</td>
  </tr>
    
  {% endfor %}
    
  
 
</table>


{% endblock body %}
    