{% extends 'master/base.html' %}


{% block head %}
<title>Product List</title>

<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
{% endblock head %}
    


{% block body %}

<h1>Seller Product List</h1>   

{% if request.user.role == 'Seller' %}
    <a href="{% url 'product_add' %}" class="btn btn-primary">Add</a>
{% endif %}
    


<table>
  <tr>
    <th>Seller</th>
    <th>Catagory</th>
    <th>Product Name</th>
    <th>product_description</th>
    <th>price</th>
    <th>stock_quantity</th>
    <th>Image</th>
    <th>created_at</th>
    
    {% if request.user.role != 'Admin' %}
        <th>action</th>
    {% endif %}
        
    

  </tr>

  
  {% for pc in Products %}

  <tr>
    <td>{{pc.seller.username}}</td>
    <td>{{pc.category.category_name}}</td>
    <td>{{pc.product_name}}</td>
    <td>{{pc.product_description}}</td>
    <td>{{pc.price}}</td>
    <td>{{pc.stock_quantity}}</td>
    <td><img src="/{{pc.product_image}}" alt="" width ='70px'></td>


    <td>{{pc.created_at}}</td>
    
    {% if request.user.role == 'Seller' %}
        <td><a href="{% url 'product_edit' pc.id %}" class="btn btn-primary">edit</a>
        <a href="{% url 'product_delete' pc.id %}" class="btn btn-danger">Delete</a></td>
    {% elif request.user.role == 'Customer' %}
        <td><a href="{% url 'product_buy' pc.id %}" class="btn btn-secondary">Buy</a></td>
    {% endif %}
        
    
  </tr>
    
  {% endfor %}
    
  
 
</table>


{% endblock body %}
    